/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* basic text styles */

body {
    color: black;
    text-align: left;
    font-family: forma-djr-text, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    color: white;
    font-family: manicotti, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18vw;
    text-align: center;
    line-height: 0.85;
    margin: 0 5vw;
}

h2 {
    font-weight: 500;
    font-size: 9vw;
    line-height: .9;
    margin-bottom: 4vh;
}

h3 {
    font-weight: 500;
    font-size: 6vw;
    line-height: .9;
    margin-bottom: 5vh;
}

p {
    margin-bottom: 2.5vh;
    font-size: 2.8vw;
    line-height: 1.2;
}

button a {
    font-family: manicotti, sans-serif;
    text-decoration: none;
    color: white;
    font-size: 8vw;
}

button {
    background: none;
    border: none;
}

button a:hover {
    color: rgb(0, 255, 21);
}

footer {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

footer a {
    color: white;
}

footer a:hover {
    color: rgb(0, 255, 21);
}

ul {
    padding: 0;
}

ul li {
    font-size: 5vw;
    padding-bottom: 5vh;
    line-height: .95;
    list-style-type: none;
}

li a {
    text-decoration: none;
}

em {
    font-family: manicotti, sans-serif;
    color: rgb(0, 255, 21);
    font-size: 15vw;
    line-height: .8;
}




/* media styles */

#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -10;
}

.bg-hover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
}

.bg-chef {
    background-image: url("../images/chef-kiss.gif");
    background-size: 13.3vw;
    background-blend-mode: multiply;
}

.bg-lose {
    background-image: url("../images/img-moe.gif");
    background-size: 13.3vw;
}

.bg-red {
    background-color: red;
}


/* class for button hover */
.hovered .bg-hover {
    background-image: url("../images/img-pasta.gif");
    background-repeat: no-repeat;
    background-size: cover;
}


/* flexbox layouts */

/* fullscreen landing */
.flex-center {
    display: flex;
    height: 94vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.flex-bottom {
    align-self: flex-end;
}


/* half and half layout */
.flex-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
}

.flex-item {
    padding: 5vw;
}


/* styling for half and half layout */
#left {
    color: white;
}

#left img {
    width: 100%;
    margin-bottom: 7vh;
}

#right {
    background-color: white;
}

#right a {
    color: red;
}

#right a:hover {
    color: green;
}